*{
    margin: 0;
    padding: 0;
}
body{
    background:rgb(14, 14, 238) ;
    color: black;
    font-family: system-ui;
}
.freshFood{
    width: 80%;
    margin: auto;
    color: white;
}
.head{
    text-align: left;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: white;
    margin: 4px 0;
    border-radius: 4px;
    padding:4px ;
    color: black;
}
input:focus{
    background: white;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: black;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'total';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 20px;
}
button:hover{
    background: rgb(132, 23, 234);
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content:space-between ;
}
.btnSearch button{
    width: 45%;
}
#deleteAll{
    margin: 20px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}